<app-nav>
    <div class="container">
        <div class="row">
            <div class="col s12 mt-xxs">
                <h5> Bem vindo a biblioteca eWave!</h5>
            </div>
        </div>
        <div class="divider"></div>

        <div class="row">

            <div class="busca col s12 mb-s">
                <div class="searchbox">
                    <button class="btn-menu">

                    </button>
                    <input id="search" type="text" [(ngModel)]="filter" placeholder="Titulo, autor ou gênero"
                        name="search" class="browser-default search-custon">
                    <button class="btn-search" (click)="busca()">
                        <img src="./../../../assets/materialize/icons/search-24px.svg">
                    </button>
                </div>

            </div>
        </div>

        <div class="row mr--xs ml--xs pt-s">

            <div class="card-book" *ngFor="let data of dataList">
                <div class="card pt-xs">
                    <div class="card-image">
                        <img class="img-livro" :[src]="decodeImage(data.capa)" />
                    </div>
                    <div class="card-content">
                        <h6 class="truncate">{{ data.titulo }}</h6>
                        <p class="truncate">{{ data.descricao }}</p>
                    </div>
                    <div class="right-align p-xs mt--xs">
                        <button class="btn indigo" (click)="openModalInfo(data)">+info</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</app-nav>

<!-- Modal Structure -->
<div id="modalDetail" class="modal-full modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="text-danger">{{ detail.titulo }} </h4>
        <div class="row" style="display: block;">
            <div class="col s12 m4 center-align pt-m">
                <img class="img-livro-info" :[src]="decodeImage(detail.capa)" />
            </div>
            <div class="col s12 m8 pt-m">
                {{ detail.descricao }}
                <br>
                <br>
                {{ detail.sinopse }}
            </div>
        </div>
        <div class="row pt-m" style="display: block;">
            <div class="col s12 m4">
                <b>Páginas: </b>{{ detail.nrPaginas }}
            </div>
            <div class="col s12 m4">
                <b>Autor: </b>{{ detail.autor }}
            </div>
            <div class="col s12 m4">
                <b>Gênero/Categoria: </b>{{ detail.generos }}
            </div>
        </div>
        <div class="row" style="display: block;">
            <div class="col s12 m4">
                <b> Editora: </b>{{ detail.editora }}
            </div>
            <div class="col s12 m4">
                <b>Lançamento: </b>{{ detail.dataPublicacao }}
            </div>
        </div>
        <div class="center-align pt-s">
            <a target="_blank" :href="{{ detail.link }}"
                class="btn waves-effect white-text orange waves-orange btn-flat">COMPRAR</a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="mr-xs modal-close waves-effect white-text blue waves-red btn-flat">Voltar</button>
    </div>
</div>