.modal{
  height: 100vh !important;
  width: 100% !important;
  top: 0 !important;
  max-height: 100% !important;
}

.img-livro{
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    max-height: 170px;
}

.img-livro-info{
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}

.card-image{
    height: 170px;
}

.card-book{
    width: 100%;
    padding: 12px;
}

@media only screen and (min-width: 601px){
    .card-book{
        width: 25%;
    }
}

button img {
    transition: transform .25s;
  }
  button:hover > img {
    transform: scale(1.2);
  }
  button:focus {
    outline: none;
  }
  
  input {
    font-family: 'Lexend Deca', sans-serif;
  }
  input::placeholder {
    font-family: 'Lexend Deca', sans-serif;
  }
  input:focus {
    outline: none;
  }
  
  .searchbox {
    height: 60px;
    width: 450px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50px;
    display: flex;
    border: 1px solid #d2d2d2;
  }
  .searchbox > .btn-menu {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .searchbox > .search-custon {
    border: none;
    width: 100%;
  }
  .searchbox > .btn-search {
    padding: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .search-modal {
    height: 400px;
    width: 450px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 160px;
    animation: slideInUp .5s;
    display: none;
  }
  .search-modal-header {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #00000017;
  }
  .search-modal-header h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    float: left;
  }
  .search-modal-header span img {
    float: right;
    position: absolute;
    right: 16px;
    top: 25px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s all;
  }
  .search-modal-header span img:hover {
    transform: scale(1.1);
  }
  .search-modal-body {
    padding: 20px;
    height: 285px;
    overflow-y: scroll;
  }
  .search-modal-body .message {
    display: flex;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
  }
  .search-modal-body .message-avatar {
    margin-right: 16px;
    margin-top: 10px;
  }
  .search-modal-body .message-avatar img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
  }
  .search-modal-body .message-body {
    margin-left: 0;
    margin-top: 8px;
  }
  .search-modal-body .message-body p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: #444;
  }
  .search-modal-body .message-body small {
    font-weight: 400;
    font-family: Dosis;
    color: #777;
  }
  .search-modal-body .message:hover {
    background-color: #2F94D817;
  }
  .search-modal-body::-webkit-scrollbar {
    width: 5px;
  }
  .search-modal-body::-webkit-scrollbar-track {
    background: transparent;
  }
  .search-modal-body::-webkit-scrollbar-thumb {
    background: #2F94D8;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
  }
  .search-modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 15%, 0);
      transform: translate3d(0, 15%, 0);
      visibility: visible;
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  