<app-nav>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4>Livros cadastrados</h4>
            </div>
        </div>
        <div class="row">
            <table class="striped table-responsive col s12">
                <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col" width="150">Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of dataList">
                        <td data-label="#ID"><b>{{ data.id }}</b></td>
                        <td data-label="Titulo">{{ data.titulo }}</td>
                        <!-- <td data-label="Situação"><span data-badge-caption=""
                                class="new badge {{ data.ativo !== 'S' ? 'red' : '' }}">{{ data.ativo !== 'S' ? 'Inativo' : 'Ativo'}}</span>
                        </td> -->
                        <td class="p-0 actions-cell">
                            <a [routerLink]="['/livros', data.id]" style="z-index: 0 !important;" class="mr-xs waves-effect waves-light blue lighten-1 btn z-depth-0">
                                <img width="20" class="mt-xxs" src="../../../../assets/materialize/icons/edit-24px.svg" alt="">
                            </a>
                            <button (click)="confirmDelete(data)"  style="z-index: 0 !important;"  class="waves-effect waves-light red lighten-1 btn z-depth-0">
                                <img width="20" src="../../../../assets/materialize/icons/delete_forever-24px.svg"
                                    alt="">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</app-nav>