<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav blue-grey lighten-5 white-text" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">
    <!-- [opened]="(isHandset$ | async) === false"> -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="store">Biblioteca</a>
      <!-- <a mat-list-item href="about">Sobre</a> -->
    </mat-nav-list>

    <mat-toolbar>Manutenção</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="livros">Livros</a>
      <a mat-list-item href="livros/novo">Novo Livro</a>
    </mat-nav-list>
   
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <!-- *ngIf="isHandset$ | async"> -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="pl-xxs">ewave-front</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>