<app-nav>
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h5>{{ id > 0 ? 'Editar' : 'Cadastrar Novo' }} Livro</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form (ngSubmit)="onSubmit()" class="center-align">
                    <div class="input-field col s12">
                        <input [(ngModel)]="data.titulo" name="titulo" id="titulo" type="text" class="validate">
                        <label :class="{{ data.titulo != '' && data.titulo != null ? 'active' : '' }}"
                            for="titulo">Titulo</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="input-field col s12 m6">
                        <input [(ngModel)]="data.editora" name="editora" id="editora" type="text" class="validate">
                        <label :class="{{ data.editora != '' && data.editora != null ? 'active' : '' }}"
                            for="editora">Editora</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>


                    <div class="input-field col s12 m2">
                        <input [(ngModel)]="data.nrPaginas" name="nrPaginas" id="nrPaginas" type="number" class="validate">
                        <label :class="{{ data.nrPaginas != '' && data.nrPaginas != null ? 'active' : '' }}"
                            for="paginas">Nr. Páginas</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="input-field col s12 m4">
                        <input [(ngModel)]="data.dataPublicacao" name="dataPublicacao" id="dataPublicacao"
                            type="text" class="validate">
                        <label :class="{{ data.dataPublicacao != '' && data.dataPublicacao != null ? 'active' : '' }}"
                            for="dataPublicacao">Data Publicação</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="input-field col s12">
                        <input [(ngModel)]="data.descricao" name="descricao" id="descricao" type="text"
                            class="validate">
                        <label :class="{{ data.descricao != '' && data.descricao != null ? 'active' : '' }}"
                            for="descricao">Descrição</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="input-field col s12">
                        <input [(ngModel)]="data.sinopse" name="sinopse" id="sinopse" type="text" class="validate">
                        <label :class="{{ data.sinopse != '' && data.sinopse != null ? 'active' : '' }}"
                            for="sinopse">Sinopse</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="col s12 m6">

                        <div class="file-field input-field">
                            <div class="btn">
                                <span>Capa</span>
                                <input type="file" (change)="encodeImage($event)" accept="image/*" >
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" >
                            </div>
                        </div>

                        <img width="100" *ngIf="decodedImage != null" :[src]="decodedImage" />
                    </div>

                    <div class="input-field col s12">
                        <input [(ngModel)]="data.generos" name="generos" id="generos" type="text" class="validate">
                        <label :class="{{ data.generos != '' && data.generos != null ? 'active' : '' }}"
                            for="generos">Gêneros</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>


                    <div class="input-field col s12">
                        <input [(ngModel)]="data.autor" name="autor" id="autor" type="text" class="validate">
                        <label :class="{{ data.autor != '' && data.autor != null ? 'active' : '' }}"
                            for="autor">Autor</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="input-field col s12">
                        <input [(ngModel)]="data.link" name="link" id="link" type="text" class="validate">
                        <label :class="{{ data.link != '' && data.link != null ? 'active' : '' }}"
                            for="link">link</label>
                        <!-- <span class="helper-text text-left text-danger" *ngIf="!validation.nome">Campo obrigatório</span> -->
                    </div>

                    <div class="col pt-s">
                        <button type="submit" class="btn col s12" >{{ id > 0 ? 'Atualizar Registro' : 'Salvar' }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</app-nav>